body{
background-image: url(Images/Tausta.jpg);
background-size: cover;
margin:0;
}


header { 
background-color: #947AE5; 
padding: 40px;

} 


.logo { 
max-height: 80px; 
} 

.nav-link {
color: #000 ; 
font-weight: 80px; 
} 

.language-switch {
font-weight: 500; 
color: #000; 
}

footer {
    font-size: 16px;
    background-color:#947AE5;
    color:#ffffff;
    text-align:center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 84a872fa7a8723eaea8cd18fcbf418ec23395e09
