
html, body {
    background-image: url(Images/Tausta.jpg);
    background-size: cover;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

header {
    background-color: #947AE5;
    padding: 40px;
}

.logo {
    max-height: 120px;
}

.nav-link, .language-switch {
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

main {
    flex: 1;
}

footer {
    font-size: 16px;
    background-color: #947AE5;
    padding: 40px;
    color: black;
    margin-top: 80px;
}


h1, h2, h3, p {
    text-align: center;
    color: white;
    background-color: #838DE6;
    max-width: 900px;
    width: 100%;
    margin: 16px auto;
    box-sizing: border-box;
}

h2, h3 {
    padding: 30px 40px;
    font-size: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    padding: 20px;
    font-size: 18px;
}


.Yhteystiedot h2 {
    background-color: #434254;
    padding: 80px 100px;
}

.Yhteystiedot h3 {
    margin-top: 80px;
}


.ajankohtaista h2 {
    background-color: #434254;
    padding: 30px;
    font-size: 20px;
}


.Svenska p {
    background-color: #434254;
}


.box {
    padding: 20px;
    margin: 20px 0;
}

.info-box, .some-box {
    background-color: #434254;
    color: white;
}

.uutuudet-box {
    background-color: #838DE6;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uutuudet-box h2 {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
}


img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    h1 { font-size: 22px; }
    h2, h3, p { 
        padding: 20px;
        font-size: 16px; 
    }

    header, footer {
        padding: 20px;
    }

    .logo {
        max-height: 80px;
    }
}





  
