html,body{
background-image: url(Images/Tausta.jpg);
background-size: cover;
margin:0;
height: 100%;
display: flex; 
flex-direction: column;
}


header { 
background-color: #947AE5; 
padding: 40px;

} 


.logo { 
max-height: 80px; 
} 

.nav-link {
color: #000 ; 
font-weight: 80px; 
} 

.language-switch {
font-weight: 500; 
color: #000; 
}

main {
 flex: 1; }

footer {
    font-size: 16px;
    background-color:#947AE5;
    padding: 40px;
    color:black;
    text-align:center;
    
    margin-top: 80px;
}

.ajankohtaista h1 {
 background-color: #838DE6;
 color: white; 
     
    }
.ajankohtaista h2{
    background-color: #434254;
    color:white;
}

.ajankohtaistakuva{
float: right; 
margin-right: 60px;
background-color: #838DE6;

}

.kuvantausta{
    background-color: #434254;
    padding: 50px;
    display:inline-block;
    text-align: right;

    
}

