html,body{
background-image: url(Images/Tausta.jpg);
background-size: cover;
margin:0;
height: 100%;
display: flex; 
flex-direction: column;
}


header { 
background-color: #947AE5; 
padding: 40px;

} 


.logo { 
max-height: 80px; 
} 

.nav-link {
color: #000 ; 
font-weight: 80px; 
} 

.language-switch {
font-weight: 500; 
color: #000; 
}

main {
 flex: 1; }

footer {
    font-size: 16px;
    background-color:#947AE5;
    padding: 40px;
    color:black;
    text-align:center;
    margin-top: 80px;
}


.Tuotteet h1 {
    margin-bottom: 16px;
    background-color: #838DE6;
    color: white; 
    width: 900px;
    margin: 16px auto 0px auto;
    font-family:'Courier New', Courier, monospace
}
.Tuotteet h2{
    margin-bottom:16px;
    background-color: #838DE6;
    color:white;
    padding: 30px 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    float:right;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.Tuotteet p{
    background-color: #838DE6;
    color: white; 
    width: 900px;
    margin: 16px auto 0px auto;
    font-family:'Courier New', Courier, monospace   
}

.ajankohtaista h1 {
 background-color: #838DE6;
 color: white; 
 width: 900px;
 margin: 16px auto 0px auto;
 font-family:'Courier New', Courier, monospace;
 margin-bottom: 20px;
}

.ajankohtaista h2{
  background-color: #434254;
  padding: 30px;
  text-align: center;
  font-family: 'Courier New', monospace;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;

}

.ajankohtaistakuva{
background-color: #838DE6;
margin-top: 16px;

}

.kuvantausta{
    background-color: #434254;
    padding: 70px;
    display:inline-block;
    margin-bottom: 20px;
    margin-top: 20px;

}

.Svenska h1{
  background-color: #838DE6;
  color: white; 
  width: 900px;
  margin: 16px auto 0px auto;
  font-family:'Courier New', Courier, monospace  
}

.Svenska p{
  background-color: #434254;
  color: white; 
  width: 900px;
  margin: 16px auto 0px auto;
  font-family:'Courier New', Courier, monospace  
}

.box {
  padding: 10px;
}

.info-box, .some-box {
  background-color: #434254;
  color: white;
}

.uutuudet-box {
  background-color: #838DE6;
  color: white;
}

.info-box h1,
.some-box h3 {
  background-color: #434254;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', monospace;
  margin-bottom: 20px;
}

.uutuudet-box h2{
 background-color: #838DE6;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', monospace;
  margin-bottom: 20px;
}

.Yhteystiedot h1 {
  margin-bottom: 16px;
    background-color: #838DE6;
    color: white; 
    width: 900px;
    margin: 16px auto 0px auto;
    font-family:'Courier New', Courier, monospace
}
.Yhteystiedot h2{
    margin-bottom:16px;
    background-color: #434254;
    color:white;
    padding: 30px 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    float:right;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}
.Yhteystiedot h3{
    margin-bottom:16px;
    background-color: #838DE6;
    color:white;
    padding: 30px 40px;
    margin-top: 25px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}
