html,body{
background-image: url(Images/Tausta.jpg);
background-size: cover;
margin:0;
height: 100%;
display: flex; 
flex-direction: column;
}


header { 
background-color: #947AE5; 
padding: 40px;

} 


.logo { 
max-height: 80px; 
} 

.nav-link {
color: #000 ; 
font-weight: 80px; 
} 

.language-switch {
font-weight: 500; 
color: #000; 
}

.tuotteet h1 {
 background-color: #838DE6;
 color: white; 
 width: 900px;
margin: 16px auto 0px auto;
     
    }
.tuotteet h2{
    background-color: #434254;
    color:white;
    padding: 8px 16px 8px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}


main {
 flex: 1; }

footer {
    font-size: 16px;
    background-color:#947AE5;
    padding: 40px;
    color:black;
    text-align:center;
    margin-top: 80px;
}

.ajankohtaista h1 {
 background-color: #838DE6;
 color: white; 
 width: 900px;
margin: 16px auto 0px auto;
font-family:'Courier New', Courier, monospace
     
    }
.ajankohtaista h2{
    background-color: #434254;
    color:white;
    padding: 8px 16px 8px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
<<<<<<< Updated upstream
=======
    float:right;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
>>>>>>> Stashed changes
}

.ajankohtaistakuva{
 
margin-right: 60px;
background-color: #838DE6;

}

.kuvantausta{
    background-color: #434254;
    padding: 50px;
    display:inline-block;

}
<<<<<<< Updated upstream
=======

.Svenska h1{
  background-color: #838DE6;
  color: white; 
  width: 900px;
  margin: 16px auto 0px auto;
  font-family:'Courier New', Courier, monospace  
}

.Svenska p{
  background-color: #838DE6;
  color: white; 
  width: 900px;
  margin: 16px auto 0px auto;
  font-family:'Courier New', Courier, monospace   
}


>>>>>>> Stashed changes
